node_modules/
dist/
.astro/
.env
.env.production
.DS_Store
npm-debug.log*

# Next.js
/.next/
/out/
next-env.d.ts

# TypeScript incremental build cache, written by `npm run typecheck`
tsconfig.tsbuildinfo
